.Navbar{
  
    
}
.js{

    height:2rem;
      line-height: 2rem;
  .js1{
      height:2rem;
      line-height: 2rem;
      margin-left: 5rem;
  }
   .js-myscores{
     margin-left: 2.2rem;
     height:2rem;
    line-height: 2rem;
    color: #b2b2b2;
    .icon{
        padding-top: .3rem;
    }
   }

}
