#mine{
    width:100%;
    height:100%;
    background: #fff;
    box-sizing: border-box;
    overflow: hidden;
    .mine{
        box-sizing: border-box;
        padding: 1.87733rem 0.96533rem 0;
        background-image: url('https://m.juooo.com/public/basic/Home/app/app-juooo5/images/login/login_bg.png') ;
        background-repeat: no-repeat;
        background-size: 100%;
        position: relative;
        .tou{
           position: absolute;
           top:0rem;
           left:0.2rem;
            width:100%;
            padding: 0.2rem 0;
            background:#fff;
            i{
                font-size:1.1rem;
                
            }
        }
        h1{
            height: 1.024rem;
            font-size: 0.706667rem;
            font-weight: 700;
            line-height: 1.024rem;
            color: #232323;
            background: #fff;
            margin-top:0.6rem;
        }
        .from{
            list-style: none;
            width: 100%;
            border-bottom: 0.02133rem solid #666;
            font-size: 0.38267rem;
            color: #232323;
            line-height: 0.85333rem;
            padding-top:1.3rem;
            padding-bottom: 0.34667rem;
            label{
                color: #ff6743;
            }
            input{
                border:0;
                background:transparent;
            }
            
        }
        i{
            display: block;
            font-style: normal;
            height: 0.512rem;
            font-size: 0.212rem;
            line-height: 0.512rem;
            color: #232323;
            margin-top:0.2rem;
      
    }
        .box{
            list-style: none;
            width: 100%;
            font-size: 0.38267rem;
            color: #232323;
            line-height: 0.85333rem;
            padding-top:1.3rem;
            padding-bottom: 0.34667rem;
            margin-bottom:6rem;
            input{
                border:0;
                background:transparent;
                width:100%;
                padding-bottom: 0.34667rem; 
                border-bottom: 0.02133rem solid #666;
            }
            i{
                display: block;
                height: 0.512rem;
                font-size: 0.212rem;
                line-height: 0.512rem;
                color: #232323;
                font-style: normal;
            }
        }
        .login{
            margin-top:2rem;
            ul{
                margin: 0;
                padding: 0;
                li{
                    list-style: none;
                    padding: 0.23333rem 0;
                    margin-bottom: 0.42667rem;
                    border-bottom: 0.02133rem solid #666;
                    input{
                        border:0;
                        width:6.5rem;
                    }
                }
                .eyes{
                    display: flex;
                    align-items: center;
                   .see{
                    display: flex;
                    align-items: center;
                    i{
                        // margin-left: 0.64rem;
                        display: inline-block;
                        width: 0.568rem;
                        height: 0.568rem;
                        background-image: url('https://m.juooo.com/public/basic/Home/app/app-juooo5/images/login/login_icon_Invisible.png');
                        background-repeat: no-repeat;
                        background-size: 100%;
                        background-position: center center;
                    }
                   }
                   .no{
                       display: flex;
                       align-items: center;
                       justify-content: space-between;
                    i{
                        display: inline-block;
                        width: 0.568rem;
                        height: 0.568rem;
                        background-image: url('https://m.juooo.com/public/basic/Home/app/app-juooo5/images/login/login_icon_visible.png');
                        background-repeat: no-repeat;
                        background-size: 100%;
                        background-position: center center;
                    }
                   }
                }
            }
            .space{
                margin-top: 0.85333rem;
                margin-bottom:3.5rem;
                width:100%;
                display: flex;
                justify-content: space-between;
               
            }
        }
        button{
            margin-top: 1.32rem;
            font-family: Arial, "微软雅黑", sans-serif;
            font-size: 0.59733rem;
            width: 100%;
            height: 1.30333rem;
            line-height: 1.40333rem;
            font-size: 0.468rem;
            color: #fefefe;
            border-radius: 1.28rem;
            background-color: #ebebeb;
            
            border: none;
            cursor: pointer;
        }
        .space{
            margin-top: 0.85333rem;
             margin-bottom:5rem;
            width:100%;
            display: flex;
            justify-content: space-between;
           
        }
        .icon{
            width:100%;
            display: flex;
            justify-content: center;
            span{
                display: inline-block;
                width: 1.036rem;
                height: 1.036rem;
                margin:0 0.7rem;
                background-size: cover;
                background-position: center center;
                background-repeat: no-repeat;
            }
            .sp1{

                background-image: url('https://m.juooo.com/public/basic/Home/app/app-juooo5/images/login/qq.png')
            }
            .sp2{
                background-image: url('https://m.juooo.com/public/basic/Home/app/app-juooo5/images/login/weibo.png');
            }
        }
    }
    .qq{
        display: none;
        padding: 40px 30px 30px;
        img{
            display: block;
            width:96px;
            height:162px;
            margin: auto;
        }
        p{
            text-align: center;
            margin-bottom:50px;
        }
        button{
            color: rgb(255, 255, 255);
            background-color: rgb(18, 183, 245);
            display: block;
            border: 1px solid #12b7f5;
            margin: 12px 0;
            border-radius: 4px;
            line-height: 40px;
            font-size: 18px;
            text-align: center;
            width:260px;
            height:40px;
            box-sizing: border-box;
        }
    }
}